body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
    z-index: 2;
    position: sticky;
}

h2 {
    opacity: 90%
}

h4 {
    opacity: 50%
}

p {
    font-size: 15px;
    opacity: 75%;
    z-index: 1;

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2 2fr);
    grid-template-areas: "one one two three "
        "four five five three";
    max-height: 500px;
    margin: .3ems;

    background-color: hsl(210, 46%, 95%);

}


.box {
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    font-size: 60%;
    position: relative;

}

.profile {
    float: left;
    margin: 15px;
    border-radius: 50%;
    border: 2px solid rgb(186, 172, 236)
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 93%);
    grid-area: one;
}

.quote {
    position: absolute;
    width: 25%;
    right: 10%;
    top: 0px;
    z-index: 0;

}

.two {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 93%);
    grid-area: two;

}

.three {
    background-color: white;
    grid-area: three;
}

.four {
    background-color: white;
    grid-area: four;
}

.five {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 93%);
    grid-area: five;
}



@media only screen and (max-width: 600px) {
    .wrapper {

        display: flex;
        flex-wrap: wrap;

    }

}